**/bin/
**/obj/
**/*.csproj.user
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
**/*.cache
**/*.vs
**/*.vscode
**/npm-debug.log
**/Dockerfile*
**/*.dockerignore
.git
.gitignore
README.md
LICENSE
.dockerignore
